.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border: 1px solid lawngreen;
}

.photoName {
    border: 1px dashed;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.photo {
    border: 1px dashed;
    width: 100px;
    height: 100px;
}

.name {
    border: 1px dashed;
}

.message {
    border: 1px dashed;
    width: 80%;
}